<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>The Greener Side</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='menu.css')}}"> -->
    <link rel="stylesheet" href="/static/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <form action="/menu" method="post">
    <header class="header">
        <nav class="header--menu">
            <a href="home.html">
                <i class='bx bxs-home' id="homeicon"></i>
            </a>
            <i class='bx bx-search' id="search"></i>
            <input type="text" class="search--box" placeholder="Search for products..." />
            <div id="log">
            <a href="/l" style="color: #132a13; font-weight: bold;">
                <button type="button" class="loginbtn" style="color: #132a13; font-weight: bold;"></button>Login</a></div>
            <div id="sign">
                <a href="/" style="color: #132a13; font-weight: bold;">
                    <button type="button" class="signupbtn"></button>Signup</a></div>
            <div class="cart">
                <i class='bx bxs-shopping-bag-alt' id="cart-icon"><span>0</span></i>
            </div>
            </div>
        </nav>
    </header>
    <!-- MENU -->

    <section class="cover">
        <div id="cover-overlay">
            <h1>Quick Bite</h1>
            <span class="Slogan">
                Where every flavour lets different story </span>
        </div>
    </section>
    <main>
        <h2 class="section-heading">Food Menu</h2>
        <div class="menu--list">
            <!-- box1 -->
            <div class="menu--item">
                <a href="#Pizza"><img src="/static/pizza.png" alt="" srcset=""></a>
                <h5>Pizza Marinara</h5>
            </div>
            <!-- box2 -->
            <div class="menu--item">
                <a href="#burger"><img src="/static/burger.png" alt="" srcset=""></a>
                <h5>burgers</h5>
            </div>
            <!-- box3 -->
            <div class="menu--item">
                <a href="#Fries"><img src="/static/french-fries.png" alt="" srcset=""></a>
                <h5>Fires</h5>
            </div>
            <!-- box4 -->
            <div class="menu--item">
                <a href="#milkshake"> <img src="/static/milkshake.png" alt="" srcset=""></a>
                <h5>Milkshakes</h5>
            </div>
            <!-- box5 -->
            <div class="menu--item">
                <a href="#Waffles"> <img src="/static/waffle.png" alt="" srcset=""></a>
                <h5>Waffles</h5>
            </div>
            <!-- box6 -->
            <div class="menu--item">
                <a href="#Sandwich"> <img src="/static/sandwich.png" alt="" srcset=""></a>
                <h5>Sandwiches</h5>
            </div>
            <!-- box7 -->
            <div class="menu--item">
                <a href="#subwich"> <img src="/static/sandwich (1).png" alt="" srcset=""></a>
                <h5>Subwiches</h5>
            </div>
            <!-- box8 -->
            <div class="menu--item">
                <a href="#Wraps"> <img src="/static/burrito.png" alt="" srcset=""></a>
                <h5>Wraps</h5>
            </div>
        </div>

        <h2 class="section-heading" style="padding-top: 100px;">Menu Items</h2>
        <div class="card--list">
            <!-- Pizza -->
            <div id="Pizza" style="margin-bottom: 150px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Pizzas</h3>

                <!-- box-1 -->
                <section class="itembg">
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">MARGHERITA PIZZA</h4>
                        <p class="intg">GARLIC SAUCE, CHERRY TOMATOES,
                            GOUDA CHEESE, MOZZARELLA CHEESE</p>
                        <div class="card--price">
                            <div class="price">&#8377 130</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">ACHAARI ONION PIZZA</h4>
                        <p class="intg">ONION, ACHAARI SAUCE, MOZZARELLA
                            CHEESE</p>
                        <div class="card--price">
                            <div class="price">&#8377 160</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CAPSICUM PIZZA</h4>
                        <p class="intg">SEASONAL CAPSICUM, MOZZARELLA
                            CHEESE</p>
                        <div class="card--price">
                            <div class="price">&#8377 160</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BBQ COTTAGE CHEESE PIZZA</h4>
                        <p class="intg">PANEER, ONION, TANDOORI SAUCE,
                            MOZZARELLA CHEESE</p>
                        <div class="card--price">
                            <div class="price">&#8377 170</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PERI PERI FRIES PIZZA</h4>
                        <p class="intg">FRIES, ONION, PERI PERI MIX, MOZZARELLA
                            CHEESE</p>
                        <div class="card--price">
                            <div class="price">&#8377 180</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-6 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">AMAGIC SHROOMS PIZZA</h4>
                        <p class="intg">MUSHROOMS, BABY CORN, BROCOLLI,
                            MOZZARELLA CHEESE</p>
                        <div class="card--price">
                            <div class="price">&#8377 190</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-7 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">4 CHAMBERS OF HEART PIZZA</h4>
                        <p class="intg">FOUR IN ONE PIZZA WITH DIFFERENT SLICES
                            IN A SINGLE PIZZA TOPPED WITH PERI PERI
                            FRIES, NACHOS, PANEER AND VEGGIES</p>
                        <div class="card--price">
                            <div class="price">&#8377 190</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-8 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">DOUBLE DECKER BURST PIZZA</h4>
                        <p class="intg">TWO LAYERED PIZZA WITH CHEESE INSIDE
                            OUT </p>
                        <div class="card--price">
                            <div class="price">&#8377 250</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>

            <!-- burger -->


            <div id="burger" style="margin-bottom: 200px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Burgers</h3>
                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">VEG SUPREME BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES,SAUCES,ALOO TIKKI </p>
                        <div class="card--price">
                            <div class="price">&#8377 50</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">VEG CHEESE BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES,SAUCES,ALOO TIKKI </p>
                        <!-- <button onclick="openModal()" class="btn btn-primary">Order Now!</button> -->
                        <div class="card--price">
                            <div class="price">&#8377 70</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">MUSTARD SAUCE CHEESE BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES, MUSTARD SAUCE,ALOO TIKKI </p>

                        <div class="card--price">
                            <div class="price">&#8377 70</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHEESE NACHOS BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES, SAUCES, ALOO TIKKI, NACHOS </p>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BARBEQUE SAUCE CHEESE BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES, BARBEQUE SAUCE, ALOO TIKKI </p>
                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-6 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">ACHAARI PANEER CHEESE BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES, ACHAARI SAUCE, ALOO TIKKI,PANEER </p>
                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-7 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">SHEZWAN SAUCE CHEESE BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES, SHEZWAN SAUCE, ALOO TIKKI,CHEESE </p>
                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>

                    <!-- box-8 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">JALAPENO SAUCE CHEESE BURGER</h4>
                        <p class="intg">SLICES OF ONION, TOMATOES, JALAPEO SAUCE, ALOO TIKKI,CHEESE </p>
                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>

            <!-- Fries -->

            <div id="Fries" style="margin-bottom: 200px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Fries</h3>

                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CLASSIC SALTED FRIES</h4>
                        <p class="intg">POTATO FRIES,SALT-PEPPER,GREENER SIDE SPECIAL DIP </p>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PERI PERI CHEESE FRIES</h4>
                        <p class="intg">POTATO FRIES, PERI-PERI MASALA, CHEESE, GREENER SIDE SPECIAL DIP </p>

                        <div class="card--price">
                            <div class="price">&#8377 140</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BARBEQUE FRIES</h4>
                        <p class="intg">POTATO FRIES, BARBEQUE MASALA, CHEESE, GREENER SIDE SPECIAL DIP </p>

                        <div class="card--price">
                            <div class="price">&#8377 130</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">JALAPENO SAUCE CHEESE FRIES</h4>
                        <p class="intg">POTATO FRIES, CHEESE, JALAPENO SAUCE, GREENER SIDE SPECIAL DIP </p>
                        <div class="card--price">
                            <div class="price">&#8377 140</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">HONEY CHILLI POTATO</h4>
                        <p class="intg">POTATO FRIES, HONEY, CHILLI ,GREENER SIDE SPECIAL DIP </p>
                        <div class="card--price">
                            <div class="price">&#8377 140</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-6 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">MEXICAN LOADED CHEESE FRIES</h4>
                        <p class="intg">POTATO FRIES, MEXICAN MASALA, CHEESE,GREENER SIDE SPECIAL DIP </p>
                        <div class="card--price">
                            <div class="price">&#8377 150</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-7 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">INDIAN MASALA FRIES</h4>
                        <p class="intg">POTATO FRIES, INDIAN MASALA, GREENER SIDE SPECIAL DIP </p>
                        <div class="card--price">
                            <div class="price">&#8377 120</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-8 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">MOZZARELLA CHEESE FRIES</h4>
                        <p class="intg">POTATO FRIES, MOZZARELLA CHEESE, GREENER SIDE SPECIAL DIP </p>
                        <div class="card--price">
                            <div class="price">&#8377 140</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>

            <!-- Milkshakes -->
            <div id="milkshake" style="padding-top: 100px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Milkshakes</h3>
                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">


                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CUSTARD APPLE SHAKE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BANANA CARAMEL SHAKE </h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">ALPHONSO MANGO SHAKE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BLACKCURRANT SHAKE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BUTTERSCOTCH CRUNCHY</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-6 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">FRENCH VANILLA SHAKE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-7 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PEANUT BUTTER SHAKE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-8 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">KIWI SHAKE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>
            <!-- Waffles -->

            <div id="Waffles" style=" padding-top: 100px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Waffles</h3>
                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CARAMEL BLAST WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 90</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHOCOCHIPS WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 90</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BLUEBERRY NUTELLA WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 120</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BUTTERSCOTCH CRUNCHY WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">SIZZLING BROWNIE WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-6 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHOCO MOCHA WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-7 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHEESE CAKE WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-8 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">RED VELVET WAFFLE</h4>

                        <div class="card--price">
                            <div class="price">&#8377 120</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>
            <!-- Sandwich -->
            <div id="Sandwich" style="padding-top: 100px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Sandwiches</h3>
                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHEESE VEGGIE SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 70</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CORN AND CHEESE SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 70</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">BARBEQUE CHEESE SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">JALAPENO SAUCE CHEESE SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHEESE NACHOS SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-6 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PEPPY PANEER CHEESE SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-7 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">TRIPLE DECKER SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-8 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">ACHAARI PANEER CHEESE SANDWICH</h4>

                        <div class="card--price">
                            <div class="price">&#8377 80</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>
            <!-- subwich -->

            <div id="subwich" style="padding-top: 150px; margin-bottom: 300px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Subwiches</h3>
                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">ALOO TIKKI SUB</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PIZZA SUB</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">SPICY PANEER SUB</h4>

                        <div class="card--price">
                            <div class="price">&#8377 120</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">CHEESE NACHOS SUB</h4>

                        <div class="card--price">
                            <div class="price">&#8377 120</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box 5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">FRIED MOMO SUB</h4>

                        <div class="card--price">
                            <div class="price">&#8377 120</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
            </section>

            <!-- Wraps -->
            <div id="Wraps" style="padding-top: 150px; margin-bottom: 200px;">
                <a href="#homeicon" target="_self">
                    <button type="button" class="backbtn"><i class='bx bx-chevrons-left'></i></button></a>
                <h3 class="item-type">Wraps</h3>
                <section class="itembg">
                    <!-- box-1 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">MIX VEG FRANKY WRAP</h4>

                        <div class="card--price">
                            <div class="price">&#8377 70</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-2 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">POTATO WRAP</h4>

                        <div class="card--price">
                            <div class="price">&#8377 90</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-3 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PIZZA WRAP</h4>

                        <div class="card--price">
                            <div class="price">&#8377 90</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box-4 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">PANEER WRAP</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
                    <!-- box 5 -->
                    <div class="card">
                        <!-- <img src="/static/food.jpg" alt=""> -->
                        <h4 class="card--title">HARA BHARA KEBAB WRAP</h4>

                        <div class="card--price">
                            <div class="price">&#8377 100</div>
                            <i class='bx bx-cart-add' id="add-to-cart"></i>
                        </div>
                    </div>
            </div>
        </div>
        </section>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-close">
                <i class='bx bx-x'></i>
            </div>
                <div class="cart-menu">
                    <h3>My Cart</h3>
                    <div class="cart-items"></div>
                    <i class='bx bxs-trash cart-remove'></i>
                </div>
                <div class="siderbar--footer">
                    <div class="total--amount">
                        <h5>Total</h5>
                        <div class="cart-total">&#8377 0.00</div>
                    </div>
                    <button class="checkout-btn">
                        <a href="/payment" target="_self" >Checkout</button></a>
                </div>
                <!-- </div> -->
            
            </div>
            

    </main>

    <script language="javascript">
        
         const cartIcon = document.getElementById('cart-icon');
         const closeButton = document.querySelector('.sidebar-close i');
const sidebar = document.getElementById('sidebar');

cartIcon.addEventListener('click', () => {
    sidebar.classList.toggle('open');
});

// Add event listener to close button
closeButton.addEventListener('click', () => {
    sidebar.classList.toggle('close');
});

closeButton.addEventListener('click', () => {
    sidebar.classList.remove('open');
});
let cart = {
    items: [],
    total: 0
  };
  
  function addToCart(title, price) {
    // Check if item is already in the cart and increase the quantity
    const existingItem = cart.items.find(item => item.title === title);
    if (existingItem) {
      existingItem.quantity++;
    } else {
      // If not, add a new item with quantity 1
      cart.items.push({ title, price, quantity: 1 });
    }
  
    // Update total price
    cart.total += price;
  
    // Update cart display
    updateCartDisplay();
  }
  
  function updateCartDisplay() {
    // Reference to the sidebar cart items container and total
    const cartItemsContainer = document.querySelector('.cart-items');
    const cartTotal = document.querySelector('.cart-total');
    
    // Clear the current cart items container content
    cartItemsContainer.innerHTML = '';
    
    // Loop through cart items and append them to cart items container
    cart.items.forEach(item => {
      const itemElement = document.createElement('div');
      itemElement.innerHTML = `${item.title} - Quantity: ${item.quantity} - Price: &#8377; ${item.price * item.quantity}`;

      cartItemsContainer.appendChild(itemElement);
    });
    
    // Update total price
    cartTotal.innerHTML = `&#8377; ${cart.total.toFixed(2)}`;
    
    // Update cart icon count
    const cartIconCount = document.querySelector('#cart-icon span');
    const totalCount = cart.items.reduce((acc, item) => acc + item.quantity, 0);
    cartIconCount.textContent = totalCount;
  }
  
  // Event listener setup for each add-to-cart button
  document.querySelectorAll('.bx-cart-add').forEach(button => {
    button.addEventListener('click', (event) => {
      // Get the closest card that contains button
      const card = button.closest('.card');
      
      // Retrieve title and price of the product
      const title = card.querySelector('.card--title').textContent;
      const priceText = card.querySelector('.price').textContent;
      const price = parseFloat(priceText.replace(/[\u20B9\s]/g, '')); // Remove Rupee symbol and whitespace
  
      // Call addToCart function with title and price of product
      addToCart(title, price);
    });
  });
  
    </script>
    </form>
</body>

</html>